html, body {
  height: 100%;
}

.ui.borderless.top.fixed.menu {
  height: 10%;
  margin: auto;
}

a.home {
  color: whitesmoke !important;
}

.signin {
  padding: 200px 0 100px 0;
  background-color: #475F6F;
}

.signin-h1 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  padding-bottom: 20px;
}

.signup {
  padding: 200px 0 100px 0;
  background-color: #475F6F;
}

.signup-h1 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  padding-bottom: 20px;
}

.landing-background {
  background: url('images/scuba-background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 750px;
}

.landing-section-1 {
  padding-top: 10em;
  padding-left: 10em;
  padding-bottom: 10em;
}

landing-header {
  font-size: 80px;
  color: white;
  line-height: 2em;
}

landing-header2 {
  font-size: 90px;
  font-weight: 500;
  color: #FBF1D4;

}

.landing-page {
  font-family: "Arial", sans-serif;
  background-color: #475F6F;
}

.landing-text {
  font-size: 26px;
  color: whitesmoke;
  line-height: 1.25em;
  padding: 80px 200px 100px 7px;
  letter-spacing: 0.4px;
}

.landing-text2 {
  font-size: 20px;
  color: whitesmoke;
  line-height: 1.25em;
  letter-spacing: 0.4px;
}

.landing-panel-1 {
  background-color: #475F6F;
}

.landing-panel-2 {
  background-color: #475F6F;
}

.landing-img-1 {
  padding: 40px 0 0 100px;
}

.main-text {
  color: white;
  font-size: 50px;
  padding-top: 100px;
  text-shadow: 1px 1px 2px #000000;
}


.sub-main-text {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 2px #000000;
}
